.m-navbar {
  height: 80px;
  width: 100%;
  background: white;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  font-family: "Baloo Tamma 2", cursive;
}
.m-action-left {
  margin-left: auto;
}
.m-navbar-action {
  font-size: 1.25rem;
  margin-right: 32px;
}

.m-navbar-action-b {
  display: flex;
}

.badge {
  position: relative;
}

.count-container {
  background: red;
  color: white;
  position: absolute;
  padding: 2px;
  padding-top: 100%;
  top: -10px;
  height: 18px;
  text-align: center;
  border-radius: 2px;
  padding-top: 100%;
}
.count {
  font-size: 12px;
}
