.search-element {
  flex: 0 0 15%;
}

.search-element-high {
  flex: 0.5 0 20%;
}

.search-element + .search-element {
  margin-left: 10px;
}

.s-card {
  padding: 5px 3px;
  box-shadow: 0 3px 15px 0 rgba(40, 44, 63, 0.1);
}

.search-component {
  margin-top: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

input {
  border: none;
}

@media only screen and (max-device-width: 568px) {
  .search-element {
    flex: 30%;
  }

  .MuiTextField-root.search-element,
  .MuiButtonBase-root.search-element {
    margin-top: 10px;
  }
  .search-element-high {
    flex: 0.5 0 70%;
  }
}
